@using FiscalCode.Data
@using FiscalCode.Resources.Languages

@inject IStringLocalizer<Localization> Localizer

<MudDialog>
    <DialogContent>

        <MudForm @ref="form">
            <MudTextField @bind-Value="@formData.FirstName" T="string" Label="@Localizer["FirstName"]"
                          Required="true" RequiredError="@Localizer["FirstNameError"]"
                          Class="my-4" />

            <MudTextField @bind-Value="@formData.LastName" T="string" Label="@Localizer["LastName"]"
                          Required="true" RequiredError="@Localizer["LastNameError"]"
                          Class="my-4" />

            <div class="flex my-4">

                <MudSelect @bind-Value="@formData.Sex" T="string" Label="@Localizer["Sex"]"
                           Required="true" RequiredError="@Localizer["SexError"]"
                           Class="mr-4 w-28">
                    <MudSelectItem Value="@(string.Empty)" />
                    <MudSelectItem Value="@("M")" />
                    <MudSelectItem Value="@("F")" />
                </MudSelect>

                <MudDatePicker @bind-Date="@formData.BirthDate" Label="@Localizer["Birthdate"]" OpenTo="OpenTo.Year"
                               Required="true" RequiredError="@Localizer["BirthdateError"]" />
            </div>

            <MudAutocomplete T="string" Label="@Localizer["BirthplacePlaceholder"]" @bind-Value="formData.BirthPlace" />

            <div class="flex">
                <MudButton OnClick="@HandleSubmitAsync" Variant="Variant.Filled" Color="Color.Primary"
                           Class="my-2 justify-center">
                    @Localizer["Confirm"]
                </MudButton>
            </div>
        </MudForm>

    </DialogContent>
</MudDialog>

@* <div id="overlay" @onclick="Close" class="fixed @overlayHidden z-40 w-screen h-screen inset-0 bg-gray-900 bg-opacity-60">

</div> *@

@* <div id="popup-modal" tabindex="-1"
     class="w-96 overflow-y-auto overflow-x-hidden fixed top-1/2 left-1/2 z-50 -translate-x-1/2 -translate-y-1/2
            transition duration-500 transform @animationStyles">

    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <div class="relative bg-white dark:bg-slate-700 rounded-lg shadow">

            <EditForm EditContext="@editContext" OnSubmit="@HandleSubmitAsync">
                <DataAnnotationsValidator />

                <button type="button" @onclick="Close" 
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 
                               rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                        data-modal-toggle="popup-modal">

                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              clip-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293
                                 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z">
                        </path>
                    </svg>

                </button>

                <div class="p-6 text-center">

                    <MudText>@Localizer["FillData"]</MudText>
                    <h1 class="text-2xl font-semibold dark:text-slate-600 my-5">@Localizer["FillData"]</h1>
                    
                    <div class="my-5 text-left">
                        <label class="text-sm font-medium text-gray-600 dark:text-gray-300">@Localizer["FirstName"]:</label>
                        <InputText @bind-Value="formData.FirstName" class="input-control w-full" placeholder=@Localizer["FirstName"] />
                        <ValidationMessage For="@(() => formData.FirstName)" class="text-red-800" />
                    </div>

                    <div class="my-5 text-left">
                        <label class="text-sm font-medium text-gray-600 dark:text-gray-300">@Localizer["LastName"]:</label>
                        <InputText @bind-Value="formData.LastName" class="input-control w-full" placeholder=@Localizer["LastName"] />
                        <ValidationMessage For="@(() => formData.LastName)" class="text-red-800" />
                    </div>

                    <div class="my-5 text-left">
                        
                    </div>

                    <div class="flex my-5">

                        <div class="text-left w-28">
                            <label class="text-sm font-medium text-gray-600 dark:text-gray-300">@Localizer["Sex"]:</label>
                            <InputSelect @bind-Value="formData.Sex" class="input-control w-28">
                                <option></option>
                                <option>M</option>
                                <option>F</option>
                            </InputSelect>
                            <ValidationMessage For="@(() => formData.Sex)" class="text-red-800" />
                        </div>

                        <div class="text-left ml-4 w-full">
                            <label class="text-sm font-medium text-gray-600 dark:text-gray-300">@Localizer["Birthdate"]:</label>
                            <InputDate @bind-Value="formData.BirthDate" class="input-control w-full" />
                            <ValidationMessage For="@(() => formData.BirthDate)" class="text-red-800" />
                        </div>
                        
                    </div>

                    <div class="my-5 text-left">
                        <label class="text-sm font-medium text-gray-600 dark:text-gray-300">@Localizer["Birthplace"]:</label>
                        <InputText @bind-Value="formData.BirthPlace" class="input-control w-full" placeholder=@Localizer["BirthplacePlaceholder"] />
                        <MudAutocomplete T="string" Label="@Localizer["BirthplacePlaceholder"]" @bind-Value="formData.BirthPlace" />         
                                         
                        <ValidationMessage For="@(() => formData.BirthPlace)" class="text-red-800" />
                    </div>
                    
                    <div>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">
                            @Localizer["Confirm"]
                        </MudButton>
                    </div>
                   
                </div>

            </EditForm>

        </div>
    </div>

</div> *@

@code {

    // private string animationStyles = "opacity-0";
    // private string overlayHidden = "hidden";
    private FiscalCodeDTO formData = new();
    private MudForm? form;


    // [Parameter]
    // public EventCallback<FiscalCodeDTO> OnCreate { get; set; }

    // protected override void OnInitialized() => editContext = new(formData);

    // public void Close()
    // {
    //     animationStyles = "opacity-0 pointer-events-none";
    //     overlayHidden = "hidden";
    // }

    // public void Open()
    // {
    //     animationStyles = "opacity-100";
    //     overlayHidden = string.Empty;
    // }

    private async Task HandleSubmitAsync()
    {
        if(form != null)
        {
            await form.Validate();
        }

        // if (editContext != null && editContext.Validate())
        // {
        //     await OnCreate.InvokeAsync(formData);
        //     formData = new();
        //     editContext = new(formData);
        //     Close();
        // }
    }
}
